<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <p>
        I like to make apps
    </p>
    <form onsubmit="return false" id="form">
        <input type="text" name="name" id="yourName" placeholder="Enter your name" >
        <input type="submit" id="submit" onclick="submitForm()">
    </form>
    <p id="result-container"></p>
    <script>
        
        function submitForm() {
            var formData = new FormData(document.getElementById("form"));
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/form", true);
            xhr.onreadystatechange = function () {
                document.getElementById('result-container').innerText = xhr.responseText
            };
            xhr.send(formData);
        }
    </script>
</body>

</html>